
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/bulma/bulma";

html, body {
	height: 100%;
	background-color: #ffffff;
	background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%2300d1b2' fill-opacity='0.25' fill-rule='evenodd'/%3E%3C/svg%3E");
}

a {
	&:hover {
		color: $lighter-main-color;
	}
}

.flex-container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.flex-vertical {
	flex-direction: column;
}

.flex-center {
	justify-content: center !important;
}

.header {
	font-size: 1.5em;
	font-weight: bold;
}

.items {
	padding: 10px;
}

.mar-top-bot-15 {
	margin: 15px 0 15px 0;
}

.modal {
	z-index: 2
}

nav {
	&.navbar {
		border: none;
	}
}

.navbar {
	z-index: 1;
	a {
		border: none;
	}
}

.task-form {
	padding: 10px;
}

.center-text {
	justify-content: center;
}

.section {
	display: flex;
	background-color: white;
	margin-bottom: 25px;
}

.todo-container {
	min-height: 100%;
}

.hide-button-style {
	border: none;
	background: transparent;
}

.slight-shadow {
	box-shadow: 2px 2px 7px -3px
}

.dropdown-menu {
	position: initial !important;
}

.panel-heading {
	border-top: none !important;
	border-left: none !important;
	border-right: none !important;
}

.card-footer-item {
	color: $main;	
	fill: currentColor;
}

.user {
	position: absolute;
	right: 25px;
	top: -9px;
}

@media screen and (min-width: 768px) {
	.user {
		position: absolute;
		right: 50px;
		top: -9px;		
	}
}