
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

html, body {
	height: 100%;
}

.flex-container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.flex-vertical {
	flex-direction: column;
}

.flex-center {
	justify-content: center !important;
}

.header {
	font-size: 1.5em;
	font-weight: bold;
}

.items {
	padding: 10px;
}

.mar-top-bot-15 {
	margin: 15px 0 15px 0;
}

.modal {
	z-index: 2
}

nav {
	&.navbar {
		border: none;
	}
}

.navbar {
	z-index: 1;
	a {
		// border-bottom: 1px solid #d3e0e9;
		border: none;
	}
}

.task-form {
	padding: 10px;
}

.center-text {
	justify-content: center;
}

.section {
	display: flex;
	margin-bottom: 25px;
}

.todo-container {
	min-height: 100%;
}

.hide-button-style {
	border: none;
	background: transparent;
}

.slight-shadow {
	box-shadow: 2px 2px 7px -3px
}

.dropdown-menu {
	position: initial !important;
}